a{
 color:red;
}
a:not(.notme){
 color:green;
}

p
{
 column-count:2;
 background: #b3dced; 
background: -moz-linear-gradient(top,  #b3dced 0%, #b3dced 29%, #29b8e5 50%, #bce0ee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b3dced 0%,#b3dced 29%,#29b8e5 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b3dced 0%,#b3dced 29%,#29b8e5 50%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */


}
img{
    height: 200px;
    border-radius: 500px;
	opacity: 0.5;
}

h1
{
text-shadow: 4px 4px 3px #30C8FF;
-moz-transform: rotate(5deg);
-webkit-transform: rotate(5deg);
-o-transform: rotate(5deg);
-ms-transform: rotate(5deg);
transform: rotate(5deg);

}

H2{
-moz-column-count: 4;
-moz-column-gap: 23px;
-webkit-column-count: 4;
-webkit-column-gap: 23px;
column-count: 4;
column-gap: 23px;
color: blue;
}

.button
 {
  background-color: #FFFFFF;
-webkit-border-radius: 30px 30px 30px 30px;
border-radius: 10px 10px 10px 10px;
color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-box-shadow:inset 12px 12px 12px 12px #30C8FF;
box-shadow:inset 12px 12px 12px 12px #30C8FF;

}


.flexbox-container {
  display: inline-flex;
  background-color: DodgerBlue;
}

.flexbox-container > div {
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}