header, nav, article, section, footer, aside { display: block; } 
header { background-color: red; } 
nav { float:left; 
width:20%; 
background-color:yellow; 
} 
article { background-color: #66FFFF; width:80%; } 
aside { 
float:right; 
width:20%; 
background-color:gray; 
} 
footer { clear:both; background-color: #99FF66; } 